In [1]:
import pandas as pa
sha=pa.read_csv("E:\csv_or excel_for_python\csv_1.1.csv")
sha

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,NaN,All industries,NaN,H01,Total income,Financial performance,"757,504",NaN
1,NaN,Level 1,99999,All industries,Dollars (millions),NaN,NaN,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,NaN,NaN,All industries,NaN,H05,"Interest, dividends and donations",Financial performance,NaN,NaN
3,NaN,Level 1,99999,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,NaN,NaN,NaN,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [2]:
sha.shape #shape rows and colums

(41715, 10)

In [4]:
sha.isnull() #if it gives true it means there is a null value, false for opposite

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,False,False,True,False,True,False,False,False,False,True
1,True,False,False,False,False,True,True,False,False,False
2,False,True,True,False,True,False,False,False,True,True
3,True,False,False,False,False,True,False,False,False,False
4,False,False,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
41710,False,False,False,False,False,False,False,False,False,False
41711,False,False,False,False,False,False,False,False,False,False
41712,False,False,False,False,False,False,False,False,False,False
41713,False,False,False,False,False,False,False,False,False,False
41714,False,False,False,False,False,False,False,False,False,False

In [5]:
sha.isnull().sum() #how many null value total have in every colum

Year                           14
Industry_aggregation_NZSIOC    12
Industry_code_NZSIOC           11
Industry_name_NZSIOC            7
Units                           8
Variable_code                   7
Variable_name                  10
Variable_category               4
Value                           7
Industry_code_ANZSIC06          7
dtype: int64

In [6]:
sha.isnull().sum().sum() #in total null value

87

# filling the null vaues

In [7]:
sha1=pa.read_csv("E:\csv_or excel_for_python\csv_1.1.csv")
sha1.fillna(value=0) #it means o will replace all my null values
sha1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,NaN,All industries,NaN,H01,Total income,Financial performance,"757,504",NaN
1,NaN,Level 1,99999,All industries,Dollars (millions),NaN,NaN,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,NaN,NaN,All industries,NaN,H05,"Interest, dividends and donations",Financial performance,NaN,NaN
3,NaN,Level 1,99999,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,NaN,NaN,NaN,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

# droping null values

In [8]:
sha1.dropna()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
11,2021.0,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
17,2021.0,Level 1,99999,All industries,Dollars (millions),H25,Current assets,Financial position,"730,587",ANZSIC06 divisions A-S (excluding classes K633...
18,2021.0,Level 1,99999,All industries,Dollars (millions),H26,Fixed tangible assets,Financial position,"591,351",ANZSIC06 divisions A-S (excluding classes K633...
23,2021.0,Level 1,99999,All industries,Dollars (millions),H33,Other liabilities,Financial position,"765,635",ANZSIC06 divisions A-S (excluding classes K633...
25,2021.0,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,"54,700",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [9]:
sha1.dropna(axis=0)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
11,2021.0,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
17,2021.0,Level 1,99999,All industries,Dollars (millions),H25,Current assets,Financial position,"730,587",ANZSIC06 divisions A-S (excluding classes K633...
18,2021.0,Level 1,99999,All industries,Dollars (millions),H26,Fixed tangible assets,Financial position,"591,351",ANZSIC06 divisions A-S (excluding classes K633...
23,2021.0,Level 1,99999,All industries,Dollars (millions),H33,Other liabilities,Financial position,"765,635",ANZSIC06 divisions A-S (excluding classes K633...
25,2021.0,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,"54,700",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [10]:
sha1.dropna(subset="Units")# fill the null value od=f asingle particular column

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,NaN,Level 1,99999,All industries,Dollars (millions),NaN,NaN,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
3,NaN,Level 1,99999,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
5,NaN,Level 1,NaN,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",NaN
6,2021.0,Level 1,99999,NaN,Dollars (millions),H10,Indirect taxes,Financial performance,"6,991",NaN
7,2021.0,NaN,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [11]:
sha1.dropna(inplace=True) # all none value got repleaced and got a new data set
sha1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
11,2021.0,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
17,2021.0,Level 1,99999,All industries,Dollars (millions),H25,Current assets,Financial position,"730,587",ANZSIC06 divisions A-S (excluding classes K633...
18,2021.0,Level 1,99999,All industries,Dollars (millions),H26,Fixed tangible assets,Financial position,"591,351",ANZSIC06 divisions A-S (excluding classes K633...
23,2021.0,Level 1,99999,All industries,Dollars (millions),H33,Other liabilities,Financial position,"765,635",ANZSIC06 divisions A-S (excluding classes K633...
25,2021.0,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,"54,700",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [12]:
sha1.dropna(thresh=1) #single null value jotogula ase sobgula remove

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
11,2021.0,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...
17,2021.0,Level 1,99999,All industries,Dollars (millions),H25,Current assets,Financial position,"730,587",ANZSIC06 divisions A-S (excluding classes K633...
18,2021.0,Level 1,99999,All industries,Dollars (millions),H26,Fixed tangible assets,Financial position,"591,351",ANZSIC06 divisions A-S (excluding classes K633...
23,2021.0,Level 1,99999,All industries,Dollars (millions),H33,Other liabilities,Financial position,"765,635",ANZSIC06 divisions A-S (excluding classes K633...
25,2021.0,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,"54,700",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

# fill value

In [13]:
sha1=pa.read_csv("E:\csv_or excel_for_python\csv_1.1.csv") #filling null value wuth shaon
sha1.fillna("Shaon")

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,Shaon,All industries,Shaon,H01,Total income,Financial performance,"757,504",Shaon
1,Shaon,Level 1,99999,All industries,Dollars (millions),Shaon,Shaon,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Shaon,Shaon,All industries,Shaon,H05,"Interest, dividends and donations",Financial performance,Shaon,Shaon
3,Shaon,Level 1,99999,All industries,Dollars (millions),Shaon,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,Shaon,Shaon,Shaon,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [14]:
sha1.fillna({"Year":"Rakibul","Industry_code_NZSIOC":"Hasan","Units":"Shaon"})#change every null value column wise

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,Hasan,All industries,Shaon,H01,Total income,Financial performance,"757,504",NaN
1,Rakibul,Level 1,99999,All industries,Dollars (millions),NaN,NaN,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,NaN,Hasan,All industries,Shaon,H05,"Interest, dividends and donations",Financial performance,NaN,NaN
3,Rakibul,Level 1,99999,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,Hasan,NaN,Shaon,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [15]:
sha1.fillna(method="ffill") #0 no index er data diye 1 no index er naull value guloke fill up kora

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,NaN,All industries,NaN,H01,Total income,Financial performance,"757,504",NaN
1,2021.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
3,2021.0,Level 1,99999,All industries,Dollars (millions),H05,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [16]:
sha1.fillna(method="bfill")#backword filling

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
3,2021.0,Level 1,99999,All industries,Dollars (millions),H08,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [17]:
sha1.fillna(method="bfill",axis=1)#axis wise fill korle

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,All industries,All industries,H01,H01,Total income,Financial performance,"757,504",NaN
1,Level 1,Level 1,99999,All industries,Dollars (millions),Financial performance,Financial performance,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,All industries,All industries,All industries,H05,H05,"Interest, dividends and donations",Financial performance,NaN,NaN
3,Level 1,Level 1,99999,All industries,Dollars (millions),Non-operating income,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,H08,H08,H08,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [18]:
sha1.fillna(4,inplace=True)
sha1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,4,All industries,4,H01,Total income,Financial performance,"757,504",4
1,4.0,Level 1,99999,All industries,Dollars (millions),4,4,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,4,4,All industries,4,H05,"Interest, dividends and donations",Financial performance,4,4
3,4.0,Level 1,99999,All industries,Dollars (millions),4,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,4,4,4,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [19]:
sha.fillna("boom",limit=2)#jotogula row te kompokkhe 2ta null value ase oigula vhange hobe limit onujayi change hoy

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,boom,All industries,boom,H01,Total income,Financial performance,"757,504",boom
1,boom,Level 1,99999,All industries,Dollars (millions),boom,boom,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,boom,boom,All industries,boom,H05,"Interest, dividends and donations",Financial performance,boom,boom
3,boom,Level 1,99999,All industries,Dollars (millions),boom,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,NaN,boom,NaN,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

# replace

In [28]:
sha1=pa.read_csv("E:\csv_or excel_for_python\csv_1.1.csv")
sha1.replace(["Level 1","ZZ11","H08"],"balsal") #only intiger type data will fill

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,balsal,NaN,All industries,NaN,H01,Total income,Financial performance,"757,504",NaN
1,NaN,balsal,99999,All industries,Dollars (millions),NaN,NaN,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,NaN,NaN,All industries,NaN,H05,"Interest, dividends and donations",Financial performance,NaN,NaN
3,NaN,balsal,99999,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,balsal,NaN,NaN,NaN,balsal,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,balsal,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,balsal,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,balsal,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,balsal,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,balsal,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

# Interpolate

In [30]:
sha1=pa.read_csv("E:\csv_or excel_for_python\csv_1.1.csv")#the integer type data will fill autometicly
sha1.interpolate()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,NaN,All industries,NaN,H01,Total income,Financial performance,"757,504",NaN
1,2021.0,Level 1,99999,All industries,Dollars (millions),NaN,NaN,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,NaN,NaN,All industries,NaN,H05,"Interest, dividends and donations",Financial performance,NaN,NaN
3,2021.0,Level 1,99999,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,NaN,NaN,NaN,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [31]:
sha1.interpolate(limit_direction="both",limit=2)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,NaN,All industries,NaN,H01,Total income,Financial performance,"757,504",NaN
1,2021.0,Level 1,99999,All industries,Dollars (millions),NaN,NaN,Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,NaN,NaN,All industries,NaN,H05,"Interest, dividends and donations",Financial performance,NaN,NaN
3,2021.0,Level 1,99999,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,NaN,NaN,NaN,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."